:root {
    --bgColor: rgba(156, 132, 111, 0.25);
    --linkColor: indigo;
    --navBg: #08415C;
    --navText: #ff7000;
    --formBgColor: rgba(180, 180, 180, 0.7);
    --colorCommon: #e9b77fc0;
    --colorUncommon: #dd9871c0;
    --colorRare: #cd7161c0;
    --colorMythical: #894d4ac0;
    --maxWidth: 1800px;
}

@font-face {
    font-family: 'SH Pinscher';
    src: url('SHPinscher-Regular.woff2') format('woff2'),
    url('SHPinscher-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    /*background-color: var(--bgColor);*/
    background-image: linear-gradient(
            var(--bgColor),
            var(--bgColor)
    ), url("../img/background.jpg");
    background-size: 100% auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

/* === parts of the page === */
nav, footer {
    /*position: relative;*/
    width: 100%;
    height: 35px;
    background-color: var(--navBg);
    color: var(--navText);
    text-align: center;
    padding-top: 5px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
}

nav a, nav a:visited,
footer a, footer a:visited {
    margin: 0 30px;
    color: var(--navText);
}

main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 var(--maxWidth);
    justify-content: flex-start;
    min-width: 600px;
    max-width: var(--maxWidth);
}

#intro {
    display: flex;
    position: relative;
    flex: 0 0 100%;
}

#overview {
    position: relative;
}

#instructions {
    position: relative;
}

#diceArea {
    position: absolute;
    top: 150px;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

#rarity {
    margin: 0 auto 15px auto;
    font-family: "SH Pinscher", "Lucida Sans Typewriter", monospace;
    font-size: 1.2em;
    letter-spacing: 2px;
}

#rarity table {
    padding: 0;
    margin: 30px auto;
    border: 2px solid var(--colorMythical);
    border-collapse: collapse;
}

#rarity thead {
    background-color: var(--colorRare);
}

#rarity tbody {
    background-color: var(--formBgColor);
}

#rarity thead th,
#rarity tbody th,
#rarity tbody td {
    text-align: center;
    padding: 5px 20px;
    margin: 0;
}

#rarityTotal {
    text-align: center;
}

#selection {
    display: flex;
    flex: 1 8 1200px;
    flex-flow: row wrap;
    min-width: 600px;
    max-width: var(--maxWidth);
}

#settings0 {
    display: flex;
    flex-flow: column wrap;
    flex: 1 4 500px;
    min-width: 500px;
    max-width: 800px;
}

#settings1 {
    display: flex;
    flex-flow: column wrap;
    flex: 1 4 580px;
    min-width: 500px;
    max-width: 800px;
    margin: 0 20px;
}

#model {
    display: flex;
    flex: 1 1 600px;
    flex-direction: column;
    min-width: 500px;
    max-width: 800px;
    height: 1200px;
    margin-left: auto;
}

#btnDownload {
    margin-top: 25px;
}

#credits {
    height: 100px;
    display: block;
    width: 100%;
}

#variants {
    display: flex;
    flex-flow: row wrap;
    flex: 0 4 400px;
    min-width: 300px;
    max-width: 400px;
}

.subrace {
    display: flex;
    flex-flow: column;
    margin: 0 10px 5px 0;
}

.subrace figure {
    width: 100%;
}
.colorVar {
    display: flex;
    flex-flow: row;
}

.colorVar label {
    max-width: 60px;
}
/* === basic tag styles === */

audio {
    height: 80px;
    width: 250px;
    position: relative;
    top: 10px;
}

button {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

button:disabled {
    box-shadow: 0 0 transparent;
}
button img {
    height: 40px;
}

button svg {
    margin: -5px;
}

h2 {
    font-family: "SH Pinscher", "Lucida Sans Typewriter", monospace;
    font-size: 1.6em;
    line-height: 1.6em;
    margin-block: 5px 0;
    flex-flow: nowrap;
    display: block;
}

h3 {
    width: 100%;
    font-size: 1.3em;
    flex-flow: nowrap;
    font-family: "SH Pinscher", "Lucida Sans Typewriter", monospace;
    /*font-family: 'Marck Script', cursive;*/
}

a, a:visited {
    color: var(--linkColor);
    text-decoration: none;
    font-weight: 600;
}

svg {
    overflow: visible;
}

img {
    margin: 0 auto;
}

/* === form styles === */
#selection input {
    position: absolute;
    display: none;
    width: 0;
    height: 0;

}

figure {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

figcaption {
    display: flex;
    min-width: 60px;
    justify-content: center;
    text-align: center;
}

fieldset {
    /*font-family: 'Marck Script', cursive;*/
    font-family: "SH Pinscher", "Lucida Sans Typewriter", monospace;
    padding: 0 0 0 100px;
    background-color: var(--formBgColor);
    margin: 0;
}

fieldset > div {
    min-height: 80px;
}

fieldset > label {
    font-size: 1.2em;
    line-height: 1.0em;
    display: block;
    clear: both;
    margin: 5px 0 5px 0;
    padding: 0;
}

fieldset > legend {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-left: -75px;
    padding: 0;
}

/* === selectable elements === */
:disabled {
    cursor: not-allowed;
}

input[type="radio"] + svg {
    padding: 2px;
    stroke: #eeeeee;
    stroke-width: 0.5;
}

input[type="radio"] + img,
input[type="radio"] + figure > img,
input[type="radio"] + svg {
    border: #606060 3px solid;
    border-radius: 20px;
    padding: 2px;
    width: 40px;
}

input[type="radio"]:checked + img,
input[type="radio"]:checked + figure > img,
input[type="radio"]:checked + svg {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

input[type="radio"]:disabled + img,
input[type="radio"]:disabled + figure > img,
input[type="radio"]:disabled + figure > figcaption,
input[type="radio"]:disabled + svg {
    border-color: red;
    filter: opacity(50%);
    cursor: not-allowed;
}

input[data-rarity="2"] + img,
input[data-rarity="2"] + figure > img,
input[data-rarity="2"] + svg {
    background-color: var(--colorCommon);
}

input[data-rarity="4"] + img,
input[data-rarity="4"] + figure > img,
input[data-rarity="4"] + svg {
    background-color: var(--colorUncommon);
}

input[data-rarity="8"] + img,
input[data-rarity="8"] + figure > img,
input[data-rarity="8"] + svg {
    background-color: var(--colorRare);
}

input[data-rarity="16"] + img,
input[data-rarity="16"] + figure > img,
input[data-rarity="16"] + svg {
    background-color: var(--colorMythical);
}

/* === dice management */
.dice {
    display: inline-block;
    flex: 0 0 90px;
    height: 90px;
    width: 90px;
}

.dice[data-face="0"] svg g {
    fill: #c0c0c0;
    stroke: #000;
}

.dice[data-face="1"] svg g,
.dice[data-face="2"] svg g,
.dice[data-face="3"] svg g,
.dice[data-face="4"] svg g,
.dice[data-face="5"] svg g,
.dice[data-face="6"] svg g,
.dice[data-face="7"] svg g,
.dice[data-face="8"] svg g {
    fill: var(--colorCommon);
    stroke: #000;
}

.dice[data-face="9"] svg g,
.dice[data-face="10"] svg g,
.dice[data-face="11"] svg g,
.dice[data-face="12"] svg g {
    fill: var(--colorUncommon);
    stroke: #000;
}

.dice[data-face="13"] svg g,
.dice[data-face="14"] svg g {
    fill: var(--colorRare);
    stroke: #000;
}

.dice[data-face="15"] svg g,
.dice[data-face="16"] svg g,
.dice[data-face="17"] svg g,
.dice[data-face="18"] svg g,
.dice[data-face="19"] svg g {
    fill: #f0f0f0;
    stroke: #000;
}

.dice[data-face="20"] svg g {
    fill: var(--colorMythical) !important;
    stroke: #000;
}


#diceArea .dice[data-face="0"] {
    display: none;
    z-index: -1;
}

#diceArea > div {
    z-index: 5;
}

.diceTarget {
    height: 75px;
    width: 75px;
}

fieldset > .diceTarget {
    position: absolute;
    margin-left: -90px;
    margin-top: -20px;
}

/* === misc style === */


#specieSet {
    padding-left: 10px;
}

#specieSet legend,
#specieSet > label {
    margin-left: 10px !important;
}

.bold {
    font-weight: bolder;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 0;
    background-color: transparent;
    z-index: -1;
}

