:root {
    --bgColor: rgba(156, 132, 111, 0.25);
    --linkColor: indigo;
    --navBg: #08415C;
    --navText: #ff7000;
    --formBgColor: rgba(180, 180, 180, 0.7);
    --maxWidth: 1800px;
}

body {
    /*background-color: var(--bgColor);*/
    background-image: linear-gradient(
            var(--bgColor),
            var(--bgColor)
    ),url("../img/background.jpg");
    background-size: 100% auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

/* === parts of the page === */
nav {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--navBg);
    color: var(--navText);
    text-align: center;
}

nav a {
    color: var(--navText);
}

main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 var(--maxWidth);
    justify-content: flex-start;
    min-width: 600px;
    max-width: var(--maxWidth);
}

#intro {
    display: flex;
    flex: 0 0 100%;
}

#rarity {
    margin-left: auto;
}

#selection {
    display: flex;
    flex: 1 8 1200px;
    flex-flow: row wrap;
    min-width: 600px;
    max-width: var(--maxWidth);
    padding: 0;
}

#settings0 {
    display: flex;
    flex-flow: column wrap;
    flex: 1 4 500px;
    min-width: 500px;
    max-width: 800px;
}

#settings1 {
    display: flex;
    flex-flow: column wrap;
    flex: 1 4 580px;
    min-width: 500px;
    max-width: 800px;
    margin: 0 20px;
}

#model {
    display: flex;
    flex: 1 1 600px;
    flex-direction: column;
    min-width: 500px;
    max-width: 800px;
    height: 1200px;
    margin-left: auto;
}

#btnDownload {
    margin-top: 25px;
}

#credits {
    height: 100px;
    display: block;
    width: 100%;
}

/* === basic tag styles === */
h2 {
    font-size: 1.4em;
    flex-flow: nowrap;
    display: block;
}

h3 {
    text-align: left;
    font-size: 1.3em;
    flex-flow: nowrap;
    font-family: 'Marck Script', cursive;
}

a, a:visited {
    color: var(--linkColor);
    text-decoration: none;
    font-weight: 600;
}

svg {
    overflow: visible;
}

img {
    margin: 0 auto;
}
/* === form styles === */
#selection input {
    position: absolute;
    display: none;
    width: 0;
    height: 0;

}

figure {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    margin: 10px 0;
    width: 60px;
}

figcaption {
    display: flex;
    min-width: 60px;
    justify-content: center;
}

fieldset {
    font-family: 'Marck Script', cursive;
    padding: 0 0 0 100px;
    background-color: var(--formBgColor);
    margin: 0;
}

fieldset > div {
    min-height: 80px;
}

fieldset > label {
    display: block;
    clear: both;
    line-height: 1.0em;
    margin: 5px 0 5px 0;
    padding: 0;
}

fieldset > legend {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-left: -75px;
    padding: 0;
}

/* === selectable elements === */
input[type="radio"] + svg {
    padding: 2px;
    stroke: #eeeeee;
    stroke-width: 0.5;
}

input[type="radio"] + img,
input[type="radio"] + figure > img,
input[type="radio"] + svg
{
    border: #606060 3px solid;
    border-radius: 20px;
    padding: 3px;
    width: 40px;
}

input[type="radio"]:checked + img,
input[type="radio"]:checked + figure > img,
input[type="radio"]:checked + svg
{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

input[type="radio"]:disabled + img,
input[type="radio"]:disabled + figure > img,
input[type="radio"]:disabled + figure > figcaption,
input[type="radio"]:disabled + svg
{
    cursor: not-allowed;
    border-color: red;
    filter: opacity(50%);
}

input[data-rarity="2"] + img,
input[data-rarity="2"] + figure > img,
input[data-rarity="2"] + svg
{
    background-color: var(--colorCommon);
}

input[data-rarity="4"] + img,
input[data-rarity="4"] + figure > img,
input[data-rarity="4"] + svg
{
    background-color: var(--colorUncommon);
}

input[data-rarity="8"] + img,
input[data-rarity="8"] + figure > img,
input[data-rarity="8"] + svg
{
    background-color: var(--colorRare);
}

input[data-rarity="16"] + img,
input[data-rarity="16"] + figure > img,
input[data-rarity="16"] + svg
{
    background-color: var(--colorMythical);
}
/* === misc style === */
.diceTarget {
    position: absolute;
    margin-left: -90px;
    margin-top: -20px;
    height: 75px;
    width: 75px;
}

#specieSet {
    padding-left: 10px;
}

#specieSet legend,
#specieSet > label {
    margin-left: 10px !important;
}

.bold {
    font-weight: bolder;
}